@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

:root {
  --size: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ZCOOL XiaoWei";
}

body {
  height: 100vh;
  background: url(./bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-button {
  width: var(--size);
  height: var(--size);
  position: fixed;
  top: 20px;
  right: 20px;
  transition: all 0.3s;
  transform-origin: center;
}

.nav-button:hover {
  transform: scale(1.1);
}

.bg,
.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-timing-function: ease-out;
}

.bg {
  background-color: rgba(255, 255, 255, 0.95);
  transition: transform 1s;
}

.button {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 40%;
  height: 4%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.3s;
}

.button::before {
  transform: translateY(calc(-0.08 * var(--size)));
}

.button::after {
  transform: translateY(calc(0.08 * var(--size)));
}

.button:hover::before {
  transform: translateY(calc(0.1 * var(--size)));
}

.button:hover::after {
  transform: translateY(calc(-0.1 * var(--size)));
}

.active .button::before {
  transform: rotate(45deg);
}

.active .button::after {
  transform: rotate(-45deg);
}

.active .bg {
  transform: scale(100);
}

.menus {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: fit-content;
  text-align: center;
  font-size: 6.6rem;
  line-height: 8.8rem;
}

.menus li {
  animation: hideMenus 0.4s ease-in-out;
  animation-fill-mode: both;
  animation-delay: calc(-0.1s * var(--i) + 0.4s);
}

.active .menus li {
  animation: showMenus 0.4s ease-in-out;
  animation-fill-mode: both;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes showMenus {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes hideMenus {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
  }
}
